



.dc_clear {



	clear:both;



	font-size:0px;



	line-height:0px;



	margin:0;



	padding:0;



	width:100%



}



.dc_tabs_type_1 dd.current {



	display:block



}



.dc_tabs_type_1 {



	background-color:#f8f8f8;



	border-radius:10px;



	box-shadow:0 0 3px #c3c3c3;



	margin:0;



	overflow:hidden;



	position:relative;



	width:100%



}



.dc_tabs_type_1 dt {



	border-bottom:1px solid #ededed;



	cursor:pointer;



	font-size:12px;



	font-weight:700;



	padding:14px 0 14px 3%;



	width:22%



}



.dc_tabs_type_1 dt img {



	display:inline-block;



	margin-right:15px;



	position:relative;



	top:5px



}



.dc_tabs_type_1 dd {



	background-color:#FFF;



	box-shadow:inherit;



	display:none;



	margin-left:25%;



	overflow:auto;



	padding:40px;



	position:absolute;



	right:0;



	top:0;



	z-index:1000



}



.dc_tabs_type_1 dt:first-child {



	margin-top:0



}



.dc_tabs_type_1 dd .column_group p:first-child {



	margin-top:0



}



.dc_tabs_type_1_arrow {



	height:36px;



	left:23%;



	position:absolute;



	top:0;



	width:18px;



	z-index:1001



}



.dc_tabs_type_1 dt.current, .dc_tabs_type_2 dt.current {



	background-color:#fff;



	color:#01C3FD !important



}



.dc_tabs_type_2 dd.current {



	display:block



}



.dc_tabs_type_2 {



	font-size:12px;



	margin:0;



	position:relative



}



.dc_tabs_type_2 dt {



	background-color:#f8f8f8;



	border-radius:10px 10px 0 0;



	box-shadow:0 0 3px #c3c3c3;



	cursor:pointer;



	float:left;



	font-size:12px;



	font-weight:bold;



	height:40px;



	line-height:40px;



	margin-left:0;



	margin-right:5px;



	padding:0 16px



}



.dc_tabs_type_2 dt.current {



	background-color:#fff



}



.dc_tabs_type_2 dd {



	background:#FFF;



	border-radius:0 10px 10px 10px;



	box-shadow:0 0 3px #c3c3c3;



	display:none;



	left:0;



	margin:0;



	padding:30px;



	position:absolute;



	top:40px



}



.dc_tabs_type_2_arrow {



	height:15px;



	position:absolute;



	top:38px;



	width:28px;



	z-index:1001



}



#dc_tabs_type_3_container {



	width:100%



}



#dc_tabs_type_3 {



	list-style:none;



	margin:0;



	overflow:hidden;



	padding:0;



	width:100%



}



#dc_tabs_type_3 li {



	float:left;



	margin:0 -15px 0 0



}



#dc_tabs_type_3 a {



	border-bottom:30px solid #3D3D3D;



	border-bottom-color:#777\9;



	border-right:30px solid transparent;



	color:#fff !important;



	filter:alpha(opacity=30);



	float:left;



	height:0;



	line-height:30px;



	opacity:.3;



	padding:0 40px;



	position:relative;



	text-decoration:none;



	text-transform:uppercase



}



#dc_tabs_type_3 a:hover, #dc_tabs_type_3 a:focus {



	border-bottom-color:#2ac7e1;



	filter:alpha(opacity=100);



	opacity:1



}



#dc_tabs_type_3 a:focus {



	outline:0



}



#dc_tabs_type_3 #current {



	border-bottom-color:#3d3d3d;



	filter:alpha(opacity=100);



	opacity:1;



	z-index:3



}



#dc_tabs_type_3_content {



	background:#fff;



	border-bottom:1px solid #ccc;



	border-left:1px solid #ccc;



	border-right:1px solid #ccc;



	border-top:2px solid #3d3d3d;



	padding:2em



}



#dc_tabs_type_3_content h2, #dc_tabs_type_3_content h3, #dc_tabs_type_3_content p {



	margin:0 0 15px 0



}



#dc_tabs_type_4_container {



	width:100%



}



#dc_tabs_type_4 {



	list-style:none;



	margin:0;



	overflow:auto;



	padding:0;



	width:100%



}



#dc_tabs_type_4 li {



	float:left;



	margin:0;



	padding:0



}



#dc_tabs_type_4 a {



	background:#ad1c1c;



	background:linear-gradient(220deg, transparent 10px, #ad1c1c 10px);



	background:-moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);



	background:-ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);



	background:-o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);



	background:-webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);



	box-shadow:-4px 0 0 rgba(0, 0, 0, .2);



	color:#fff !important;



	float:left;



	font:bold 12px/35px 'Lucida sans', Arial, Helvetica;



	height:35px;



	moz-box-shadow:-4px 0 0 rgba(0, 0, 0, .2);



	padding:0 30px;



	text-decoration:none;



	text-shadow:0 1px 0 rgba(0, 0, 0, .5);



	webkit-box-shadow:-4px 0 0 rgba(0, 0, 0, .2)



}



#dc_tabs_type_4 a:hover {



	background:#c93434;



	background:linear-gradient(220deg, transparent 10px, #c93434 10px);



	background:-moz-linear-gradient(220deg, transparent 10px, #c93434 10px);



	background:-ms-linear-gradient(220deg, transparent 10px, #c93434 10px);



	background:-o-linear-gradient(220deg, transparent 10px, #c93434 10px);



	background:-webkit-linear-gradient(220deg, transparent 10px, #c93434 10px)



}



#dc_tabs_type_4 a:focus {



	outline:0



}



#dc_tabs_type_4 #current a {



	background:#ddd;



	background:-moz-linear-gradient(220deg, transparent 10px, #ddd 10px);



	background:-webkit-linear-gradient(220deg, transparent 10px, #ddd 10px);



	background:-ms-linear-gradient(220deg, transparent 10px, #ddd 10px);



	background:-o-linear-gradient(220deg, transparent 10px, #ddd 10px);



	background:linear-gradient(220deg, transparent 10px, #ddd 10px);



	text-shadow:none;



	color:#333 !important



}



#dc_tabs_type_4_content {



	background-color:#fff;



	border-bottom:1px solid #c93434;



	border-left:1px solid #c93434;



	border-right:1px solid #c93434;



	border-top:1px solid #c93434;



	padding:16px



}



/** menu3 **/



.dc_flat_tab_main_container {



	width:100%;



}



.flat_tabs {



	/*border-bottom:1px solid #ccc;



	border-left:1px solid #ccc;*/



	/*float:left;*/



	/*height:32px;*/



	list-style:none;



	margin:0;



	padding:0;



	width:100%



}



.flat_tabs a {



	text-decoration:none;



	color:#000;	



}



.flat_tabs p {



	/*background:#eee;*/



	/*border:1px solid #ccc;*/



	/*border-left:none;



	float:left;



	height:31px;



	line-height:31px;



	margin:0;



	margin-bottom:-1px;



	overflow:hidden;



	padding:0;



	position:relative*/



}



.flat_tabs p a {



	/*border:1px solid #fff;*/



	color:#000 !important;



	display:block;



	font-size:1.2em;



	outline:none;



	padding:0 20px;



	text-decoration:none



}



.flat_tabs p:hover {



	background:#ccc



}



html .flat_tabs p.active, html .flat_tabs p.active a:hover {



	background:#fff;



	border-bottom:1px solid #fff;



}







.big-img {



	/*background:url(../images/txture.jpg);*/



	width:100%;



}



.dc_flat_tab_subcontainer {

    max-width: 400px;

    margin: auto;

    position: fixed;

    left: 0%;

    z-index: 9999;

    bottom: 0;

}



.dc_flat_tab_content {



	font-size:1.2em;



	/*padding:20px*/



}



.dc_flat_tab_content h2 {



	border-bottom:1px dashed #ddd;



	font-size:1.8em;



	font-weight:normal;



	padding-bottom:10px



}



.dc_flat_tab_content h3 a {



	color:#254588



}



.dc_flat_tab_content img {



	/*border:1px solid #ddd;



	float:left;



	/*margin:0 20px 20px 0;*/



	/*padding:5px*/



}



/*** end menu-3 ***/



.dc_gradient-tabs {



	position:relative;



	width:100%



}



.dc_gradient-tabs input {



	cursor:pointer;



	filter:alpha(opacity=0);



	height:40px;



	left:0px;



	ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";



	opacity:0;



	position:absolute;



	top:0px;



	width:120px;



	z-index:1000



}



.dc_gradient-tabs input#grad-tab-2 {



	left:120px



}



.dc_gradient-tabs input#grad-tab-3 {



	left:240px



}



.dc_gradient-tabs input#grad-tab-4 {



	left:360px



}



.dc_gradient-tabs label {



	background:#ddd;



	background:linear-gradient(top, #eee 0%, #ddd 100%);



	background:-moz-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-ms-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-o-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));



	background:-webkit-linear-gradient(top, #eee 0%, #ddd 100%);



	border-radius:3px 3px 0 0;



	box-shadow:2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);



	color:#333 !important;



	display:block;



	float:left;



	font-size:15px;



	height:40px;



	letter-spacing:1px;



	line-height:40px;



	padding:0 20px;



	position:relative;



	text-align:center;



	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.3);



	text-transform:uppercase;



	width:80px



}



.dc_gradient-tabs label:after {



	background:#fff;



	bottom:-2px;



	content:'';



	display:block;



	height:2px;



	left:0;



	position:absolute;



	width:100%



}



.dc_gradient-tabs input:hover+label {



	background:#fff



}



.dc_gradient-tabs label:first-of-type {



	box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);



	z-index:4



}



.grad-tab-label-2 {



	z-index:3



}



.grad-tab-label-3 {



	z-index:2



}



.grad-tab-label-4 {



	z-index:1



}



.dc_gradient-tabs input:checked+label {



	animation:page 0.2s linear;



	background:#f2f2f2;



	moz-animation:page 0.2s linear;



	ms-animation:page 0.2s linear;



	o-animation:page 0.2s linear;



	webkit-animation:page 0.2s linear;



	z-index:6



}



.clear-shadow {



	clear:both



}



.gradtab-content {



	background:#fff;



	border-radius:0 3px 3px 3px;



	box-shadow:1px 2px 7px rgba(0, 0, 0, 0.2);



	min-height:240px!important;



	overflow:hidden;



	position:relative;



	width:100%;



	z-index:5



}



.gradtab-content div {



	moz-transition:all linear 0.3s;



	ms-transition:all linear 0.3s;



	opacity:0;



	o-transition:all linear 0.3s;



	padding:20px 30px 20px 30px;



	position:absolute;



	top:0;



	transition:all linear 0.3s;



	webkit-transition:all linear 0.3s;



	z-index:1



}



.gradtab-content-1, .gradtab-content-3 {



	moz-transform:translateX(-250px);



	ms-transform:translateX(-250px);



	o-transform:translateX(-250px);



	transform:translateX(-250px);



	webkit-transform:translateX(-250px)



}



.gradtab-content-2, .gradtab-content-4 {



	moz-transform:translateX(250px);



	ms-transform:translateX(250px);



	o-transform:translateX(250px);



	transform:translateX(250px);



	webkit-transform:translateX(250px)



}



.dc_gradient-tabs input.grad-tab-selector-1:checked ~ .gradtab-content .gradtab-content-1, .dc_gradient-tabs input.grad-tab-selector-2:checked ~ .gradtab-content .gradtab-content-2, .dc_gradient-tabs input.grad-tab-selector-3:checked ~ .gradtab-content .gradtab-content-3, .dc_gradient-tabs input.grad-tab-selector-4:checked ~ .gradtab-content .gradtab-content-4 {



filter:alpha(opacity=100);



moz-transform:translateX(0px);



moz-transition:all ease-out 0.2s 0.1s;



ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";



ms-transform:translateX(0px);



ms-transition:all ease-out 0.2s 0.1s;



opacity:1;



o-transform:translateX(0px);



o-transition:all ease-out 0.2s 0.1s;



position:static;



transform:translateX(0px);



transition:all ease-out 0.2s 0.1s;



webkit-transform:translateX(0px);



webkit-transition:all ease-out 0.2s 0.1s;



z-index:100



}



.gradtab-content div h2, .gradtab-content div h3 {



	color:#398080



}



.gradtab-content div p {



	border-left:8px solid rgba(204, 204, 204, 0.2);



	color:#777;



	font-size:14px;



	line-height:22px;



	margin:0;



	padding-left:15px;



	text-align:left



}



.dc_gradient-vtabs {



	position:relative;



	width:100%



}



.dc_gradient-vtabs input {



	cursor:pointer;



	filter:alpha(opacity=0);



	height:40px;



	left:0px;



	ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";



	opacity:0;



	position:absolute;



	top:0px;



	width:120px;



	z-index:1000



}



.dc_gradient-vtabs input#vgrad-tab-2 {



	top:40px



}



.dc_gradient-vtabs input#vgrad-tab-3 {



	top:80px



}



.dc_gradient-vtabs input#vgrad-tab-4 {



	top:120px



}



.dc_gradient-vtabs label {



	background:#ddd;



	background:linear-gradient(top, #eee 0%, #ddd 100%);



	background:-moz-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-ms-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-o-linear-gradient(top, #eee 0%, #ddd 100%);



	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));



	background:-webkit-linear-gradient(top, #eee 0%, #ddd 100%);



	border-radius:3px 0 0 3px;



	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);



	clear:both;



	color:#333 !important;



	display:block;



	float:left;



	font-size:15px;



	height:40px;



	letter-spacing:1px;



	line-height:40px;



	padding:0 20px;



	position:relative;



	text-align:right;



	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.3);



	text-transform:uppercase;



	width:80px



}



.dc_gradient-vtabs label:after {



	background:#ff2f2ff;



	content:'';



	height:100%;



	position:absolute;



	right:-2px;



	top:0;



	width:2px



}



.dc_gradient-vtabs input:hover+label {



	background:#ffffff



}



.dc_gradient-vtabs label:first-of-type {



	z-index:4



}



.vgrad-tab-label-2 {



	z-index:3



}



.vgrad-tabtab-label-3 {



	z-index:2



}



.vgrad-tabtab-label-4 {



	z-index:1



}



.dc_gradient-vtabs input:checked+label {



	background:#f2f2f2;



	z-index:6



}



.clear-shadow {



	clear:both



}



.vgradtab-content {



	background:#fff;



	border-radius:3px;



	box-shadow:1px 2px 7px rgba(0, 0, 0, 0.2);



	height:auto;



	margin:-175px 0 0 120px;



	overflow:hidden;



	position:relative;



	width:auto;



	z-index:5



}



.vgradtab-content div {



	moz-transition:all linear 0.5s;



	ms-transition:all linear 0.5s;



	opacity:0;



	o-transition:all linear 0.5s;



	padding:20px 30px 30px 30px;



	position:absolute;



	top:0;



	transition:all linear 0.5s;



	webkit-transition:all linear 0.5s;



	z-index:1



}



.vgradtab-content div {



	moz-transform:translateY(-450px);



	ms-transform:translateY(-450px);



	o-transform:translateY(-450px);



	transform:translateY(-450px);



	webkit-transform:translateY(-450px)



}



.dc_gradient-vtabs input.vgrad-tab-selector-1:checked ~ .vgradtab-content .vgradtab-content-1, .dc_gradient-vtabs input.vgrad-tab-selector-2:checked ~ .vgradtab-content .vgradtab-content-2, .dc_gradient-vtabs input.vgrad-tab-selector-3:checked ~ .vgradtab-content .vgradtab-content-3, .dc_gradient-vtabs input.vgrad-tab-selector-4:checked ~ .vgradtab-content .vgradtab-content-4 {



filter:alpha(opacity=100);



moz-transform:translateY(0px);



moz-transition:all ease-out 0.3s 0.3s;



ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";



ms-transform:translateY(0px);



ms-transition:all ease-out 0.3s 0.3s;



opacity:1;



o-transform:translateY(0px);



o-transition:all ease-out 0.3s 0.3s;



position:relative;



transform:translateY(0px);



transition:all ease-out 0.3s 0.3s;



webkit-transform:translateY(0px);



webkit-transition:all ease-out 0.3s 0.3s;



z-index:100



}



.vgradtab-content div h2, .vgradtab-content div h3 {



	color:#398080



}



.vgradtab-content div p {



	border-left:8px solid rgba(204, 204, 204, 0.2);



	color:#777;



	font-size:14px;



	line-height:22px;



	margin:0;



	padding-left:15px;



	text-align:left



}







/***********/







/**/





.address-map {

	border: 2px solid #999;

	margin: 15px 30px 0 0;

}

.contact-img {

	float: left;

	margin: 5px 30px 5px 10px;

}

.address-map h4 {

	font-size: 16px;

	padding: 10px 0;

	font-weight: bold;

	margin: 0px;

}

/**** Map Start ****/





/** map **/





.slauson-map-head {

	position: absolute;

	left: 44%;

	top: 6%;

	font-size: 14px;

	font-weight: bold;

}

.map-slide {

	width: 172px;

}

/**/





.parking {

    position: relative;

    width: 20%;

    display: block;

    float: left;

	    min-height: 830px;

}

.parking p {

	font-weight: bold;

	font-size: 13px;

}

/** Map Diagram **/





/**/





.map-diagram {

    padding: 0px 15px 0px;

    width:80%;

    position: relative;

    float: right;

    overflow: hidden;

    display: block;

}

.door-text {

	padding: 5px 0 0 5px;

}

.door-1 {

	position: absolute;

	top: 8%;

	left: 2.5%;

}

.door-2 {

	position: absolute;

	top: 23%;

	left: 2.5%;

}

.door-3 {

	position: absolute;

	top: 40.4%;

	left: 2.5%;

}

.door-4 {

	position: absolute;

	top: 72.5%;

	left: 2.5%;

}

.door-5 {

    position: absolute;

    top: 6.5%;

    left: 22.5%;

}

.door-6 {

    position: absolute;

    top: 6%;

    left: 53.8%;

}

.door-7 {

    position: absolute;

    top: 6.2%;

    right: 19.8%;

}

.door-8 {

    position: absolute;

    left: 27.7%;

    bottom:3%;

}

.door-9 {

    position: absolute;

    bottom: 2.5%;

    right: 41%;

}

.door-10 {

    position: absolute;

    bottom: 2.7%;

    right: 23%;

}









/**/





.map-diagram P {

	font-size: 14px;

	    font-weight: 600;

	display: table-cell;

	vertical-align: middle;

}



p.door-text {

    color: #169c4c;

    font-size: 14px;

}

.diagram-1 {

	width: 28%;

	float: left;

	padding: 0 10px;

}

.diagram-2 {

	width: 23%;

	border: 1px solid #000;

	float: left;

	padding: 0 10px;

}

.diagram-3 {

	width: 16%;

	border: 1px solid #000;

	float: left;

	padding: 0 10px;

}

.diagram-4 {

	width: 23%;

	border: 1px solid #000;

	float: left;

	padding: 0 10px;

}

/**/





.diagram-1 .row-2 {

	margin: 15px 0;

}

.diagram-1 .box1 {

	float: left;

	border: 1px solid #000;

	width: 35%;

	margin: 0 10px;

	cursor: pointer;

	height: 30px;

	display: table;

}

.diagram-1 .box2 {

	float: left;

	border: 1px solid #000;

	width: 35%;

	margin: 0 10px;

	cursor: pointer;

	display: table;

	height: 30px;

}

.diagram-1 .box3 {

	float: left;

	border: 1px solid #000;

	width: 16%;

	margin: 0 10px;

	cursor: pointer;

	height: 70px;

	margin-top: 15px;

	display: table;

}

/*.diagram-1 .box3 p {

	display: table-cell;

	vertical-align: middle;

}*/

.diagram-1 .box4 {

	float: left;

	border: 1px solid #000;

	width: 31%;

	margin: 0 10px 0 15px;

	cursor: pointer;

	height: 100px;

}

.diagram-1 .box5 {

	float: left;

	border-left: 1px solid #000;

	width: 31%;

	cursor: pointer;

	height: 50px;

	border-bottom: 1px solid #000;

	height: 100px;

}

.diagram-1 .box-4-top {

	border-bottom: 1px solid #000;

	height: 50%;

}

.diagram-1 .box-4-top .top-1 {

	float: left;

	border-right: 1px solid #000;

	width: 65%;

	height: 100%;

	display: table;

}

.diagram-1 .box-4-top .top-2 {

	float: right;

	width: 35%;

	display: table;

	height: 100%;

}

.diagram-1 .box-4-bottom {

	height: 50%;

}

.diagram-1 .box-4-bottom .top-1 {

	float: left;

	border-right: 1px solid #000;

	width: 65%;

	height: 100%;

	display: table;

}

.diagram-1 .box-4-bottom .top-2 {

	float: right;

	width: 35%;

	display: table;

	height: 100%;

}

/**/





.diagram-1 .box-5-top {

	border-bottom: 1px solid #000;

	height: 50%;

}

.diagram-1 .box-5-top .top-1 {

	float: left;

	width: 55%;

	border-top: 1px solid #000;

	border-right: 1px solid #000;

	height: 100%;

}

.diagram-1 .box-5-top .top-2 {

	margin-top: 5px;

	float: right;

	border-top: 1px solid #000;

	width: 43%;

	border-right: 1px solid #000;

	height: 90%;

}

.diagram-1 .box-5-bottom {

	height: 50%;

}

.diagram-1 .box-5-bottom .top-1 {

	float: left;

	width: 55%;

	border-right: 1px solid #000;

	height: 100%;

}

.diagram-1 .box-5-bottom .top-2 {

	float: right;

	width: 43%;

	border-right: 1px solid #000;

	height: 100%;

}

/***************/





.diagram-1 .row-box3 .box3 {

	height: 90px;

	margin-top: 0px;

}

.diagram-1 .row-box3 .d-1 {

	height: 50%;

	border-bottom: 1px solid #000;

	width: 100%;

	padding: 15px 0;

}

.diagram-1 .row-box3 .d-2 {

	width: 100%;

	height: 50%;

	padding: 15px 0;

}

.diagram-1 .row-box3 .box-4-top .top-1 {

	width: 100%;

	border: none;

}

.diagram-1 .row-box3 .box-4-bottom .top-1 {

	width: 45%;

}

.diagram-1 .row-box3 .box-4-bottom .top-2 {

	width: 45%;

}

.diagram-1 .row-box3 .box-5-bottom {

	height: 42%;

}

.diagram-1 .row-box3 .box-5-top {

	height: 58%;

}

.diagram-1 .row-box3 .box-5-top .top-2 {

	margin-top: 0px;

	height: 100%;

}

/**************/





.diagram-1 .row-box4 .box3 {

	height: 183px;

	margin-top: 0px;

}

.diagram-1 .row-box4 .d-1 {

	height: 50%;

	border-bottom: 1px solid #000;

	width: 100%;

}

.diagram-1 .row-box4 .d-2 {

	width: 100%;

	height: 50%;

}

.diagram-1 .row-box4 .box-4-bottom .top-1 {

	width: 100%;

	border: none;

}

.diagram-1 .row-box4 .box4 {

	height: 184px;

	border-bottom: 0px;

}

.diagram-1 .row-box4 .box-4-top {

	height: 45px;

}

.diagram-1 .row-box4 .box-4-bottom .top-1 {

	height: 46px;

	border-bottom: 1px solid #000;

}

.diagram-1 .row-box4 .box5 {

	height: 183px;

}

.diagram-1 .row-box4 .box5 {

	height: 183px;

	border: 1px solid #000;

}

.diagram-1 .row-box4 .box5 .box-4-top .top-1 {

	width: 55%;

}

.diagram-1 .row-box4 .box5 .box-4-top .top-2 {

	width: 45%;

}

.diagram-1 .row-box4 .box5 .box3 {

	height: 90px;

	border-right: 1px solid #000 !important;

	width: 55%;

	margin: 0px;

	border: 0px;

}

.diagram-1 .box5 .box1 {

	height: 92px;

	float: right;

	width: 45%;

	margin: 0px;

	border: 0;

	display: table;

}

/*************/





.diagram-1 .row-box5 .box3 {

	width: 81%;

	border: 0px;

	margin-right: 0px;

}

.diagram-1 .row-box5 .box3 .d-1 {

	width: 32%;

	float: left;

	border-bottom: 0px;

	height: 30px;

	border-right: 1px solid #000;

}

.diagram-1 .row-box5 .box3 .d-1 p {

	border-top: 1px solid #000;

	display: block;

	margin-top: 10px;

	margin-left: 0;

	border-left: 1px solid #000;

	line-height: 20px;

}

.diagram-1 .row-box5 .box3 .d-2 {

	width: 25%;

	border-top: 1px solid #000;

	float: left;

	border-right: 1px solid #000;

	height: 30px;

}

.diagram-1 .row-box5 .box3 .d-3 {

	width: 41%;

	float: left;

	border-top: 1px solid #000;

	border-right: 1px solid #000;

	height: 30px;

}

.diagram-1 .row-box5 .box3 .d-4 {

	border: 1px solid #000;

	height: 102px;

	width: 98.5%;

}

.diagram-1 .row-box5 .box4 {

	margin: 15px -3px 0;

	float: left;

	width: 14%;

	/*margin-top: 15px;*/





	border-left: 0px;

}

.diagram-1 .row-box5 .box-4-top .top-2 {

	width: 100%;

}

.diagram-1 .row-box5 .box-4-top {

	height: 45%;

}

.diagram-1 .row-box5 .box-4-bottom .top-1 {

	width: 100%;

	border-right: 0px;

}

.diagram-1 .row-box5 {

	position: relative;

}

.diagram-1 .row-box5 .box1 {

	position: absolute;

	bottom: 0;

	right: -30px;

	width: 25%;

	height: 18px;

}

/**************** map box 2 **************/





.map-box2 {

	width: 30%;

	float: left;

	padding: 0 10px;

}

.map-box2 .row-1 {

	/*margin-top: 10px;*/

}

.map-box2 .row-1 .box1 {

	margin: 0px;

	width: 33%;

}

.map-box2 .row-1 .box2 {

	margin: 0px;

	width: 33%;

}

.map-box2 .m-box1 {

	float: left;

	width: 52%;

	margin-right: 5px;

}

.map-box2 .m-box2 {

	float: left;

	width: 44%;

	margin-left: 5px;

}

.map-box2 .m-box2 .box3, .m-box1 .box3 {

	width: 100%;

	margin: 0;

	border: 0;

	height: 40px;

}

.map-box2 .m-box1 .d-1 {

	float: left;

	border: 1px solid #000;

	width: 30%;

	height: 40px;

}

.map-box2 .m-box1 .d-2 {

	float: left;

	border: 1px solid #000;

	width: 30%;

	height: 40px;

}

.map-box2 .m-box1 .d-3 {

	float: left;

	border: 1px solid #000;

	width: 40%;

	height: 40px;

}

.map-box2 .m-box2 .d-1 {

	float: left;

	border: 1px solid #000;

	width: 30%;

	height: 40px;

}

.map-box2 .m-box2 .d-2 {

	float: left;

	border: 1px solid #000;

	width: 30%;

	height: 40px;

}

.map-box2 .m-box2 .d-3 {

	float: left;

	border: 1px solid #000;

	width: 40%;

	height: 40px;

}

.map-box2 .top-1 {

	width: 100%;

	height: 50%;

}

.map-box2 .top-2 {

	border-bottom: 1px solid #000;

	width: 100%;

	padding: 4px;

}

/**/





.map-box2 .row-box3 .m-box1 .d-3 {

	width: 100%;

	height: 35px;

}

.map-box2 .row-box3 .m-box2 .d-3 {

	width: 100%;

	height: 35px;

}

.map-box2 .row-box3 .box3 {

	height: 35px;

}

.map-box2 .row-box4 {

	margin-top: 15px;

}

.map-box2 .row-box4 .m-box2 {

	margin-left: 0;

	width: 52%;

	margin-right: 5px;

}

.map-box2 .row-box4 .m-box2 .box3, .m-box1 .box3 {

	width: 100%;

}

.map-box2 .row-box4 .m-box2 .d-1 {

	width: 40%;

}

.map-box2 .row-box4 .m-box2 .d-3 {

	width: 60%;

}

.map-box2 .row-box4 .m-box1 {

	margin-right: 0;

	margin-left: 5px;

	width: 44%;

	height: 40px;

}

.map-box2 .row-box4 .box3 {

	width: 100%;

}

/**/





.map-box2 .col2-row5 {

	margin-top: 15px;

}

.map-box2 .col2-row5 .m-box2 {

	margin: 0 5px 0 0;

	width: 53%;

}

.map-box2 .col2-row5 .m-box2 .d-1 {

	width: 60%;

	height: 45px;

}

.map-box2 .col2-row5 .m-box2 .d-3 {

	width: 40%;

	height: 45px;

}

.map-box2 .col2-row5 .m-box1 {

	width: 44%;

	margin: 0 0 0 2px;

}

.map-box2 .col2-row5 .m-box1 .d-1 {

	width: 50%;

	height: 45px;

}

.map-box2 .col2-row5 .m-box1 .d-3 {

	width: 50%;

	height: 45px;

}

/**/





.map-box2 .col2-row6 {

	margin-top: 15px;

}

.map-box2 .col2-row6 .m-box2 {

	margin: 0 2px 0 0;

	width: 53%;

}

.map-box2 .col2-row6 .m-box1 {

	margin: 0 0 0 5px;

	width: 44%;

}

.map-box2 .col2-row6 .m-box2 .d-1 {

	width: 55%;

	height: 74px;

}

.map-box2 .col2-row6 .m-box2 .d-3 {

	width: 45%;

	height: 74px;

}

.map-box2 .col2-row6 .m-box1 .d-1 {

	width: 50%;

	height: 74px;

}

.map-box2 .col2-row6 .m-box1 .d-3 {

	width: 50%;

	height: 74px;

}

/**/





.map-box2 .col2-row6 .d-col2 {

	margin-top: 15px;

	margin-bottom: 15px;

}

.map-box2 .col2-row6 .d-col2 .d-1 {

	height: 45px;

}

.map-box2 .col2-row6 .d-col2 .d-3 {

	height: 45px;

}

/**/





.map-box2 .col2-row6 .d2-col2 {

	margin: 0;

	width: 52%;

}

.map-box2 .col2-row6 .d4-col2 {

	margin: 25px 0 0 0px;

}

.map-box2 .col2-row6 .d2-col2 .d-1 {

	width: 25%;

	height: 35px;

}

.map-box2 .col2-row6 .d2-col2 .d-2 {

	width: 25%;

	height: 35px;

}

.map-box2 .col2-row6 .d2-col2 .d-3 {

	width: 75%;

	height: 35px;

}

.map-box2 .col2-row6 .d3-col2 {

	margin-left: 10px;

}

.map-box2 .col2-row6 .d3-col2 .d-1 {

	height: 35px;

}

.map-box2 .col2-row6 .d3-col2 .d-3 {

	height: 35px;

}

.map-box2 .col2-row6 .d5-col2 .d-1 {

	width: 100%;

}

/**/





.map-box2 .col2-row7 {

	margin-left: 25px;

	margin-top: 0px;

}

.map-box2 .col2-row7 .box1 {

	width: 24%;

	height: 18px;

}

.map-box2 .col2-row7 .box2 {

	width: 24%;

	height: 18px;

}

.map-box2 .col2-row7 .box3 {

	width: 28%;

	height: 18px;

	margin: 0;

}

/************ Map Box 3 ***********/





.map-box3 {

	width: 18%;

	/*margin-top: 10px;*/

}

.map-box3 .col3-row1 {

	margin-left: 15px;

}

.map-box3 .col3-row1 .box1 {

	margin: 0px;

}

.map-box3 .col3-row1 .box2 {

	margin: 0px;

	width: 50%;

}

.map-box3 .d1-col3 {

	margin: 15px 0 15px 0;

}

.map-box3 .d1-col3 .box1, .d1-col3 .box2 {

	height: 40px;

}

.map-box3 .col3-row1 .box3 {

	height: 35px;

	width: 84%;

	margin: 15px 0 0 0;

}

.map-box3 .d2-col3 {

	margin: 0px;

}

.map-box3 .d2-col3 .box3 {

	margin: 0px;

	width: 100%;

	height: 40px;

}

/**/





.map-box3 .d3-col3 {

	margin: 15px 0 0 0;

}

.map-box3 .d3-col3 .box1 {

	width: 30%;

	height: 45px;

}

.map-box3 .d3-col3 .box2 {

	width: 35%;

	height: 45px;

}

/**/





.map-box3 .d4-col3 .box1 {

	height: 74px;

	width: 25%;

}

.map-box3 .d4-col3 .box2 {

	height: 74px;

	width: 30%;

}

.map-box3 .d4-col3 .box3 {

	height: 74px;

	width: 45%;

	margin: 0px;

}

.map-box3 .d4-col3 .m-box2 .d-2 {

	float: left;

	border: 1px solid #000;

	width: 30%;

	height: 40px;

}

.map-box3 .d4-col3 .top-2 {

	

	width: 100%;

	/* padding: 4px;*/





	height: 45%;

}

.map-box3 .d4-col3 .top-1 {

	width: 100%;

	height: 50%;

}

.map-box3 .d4-col3 .d-2 {

	width: 100%;

	height: 72px;

}

/**/





.map-box3 .d5-col3 .box1 {

	width: 27%;

	height: 45px;

}

.map-box3 .d5-col3 .box3 {

	width: 23%;

	height: 45px;

}

.map-box3 .d5-col3 .d-2 {

	height: 43px;

}

/**/





.map-box3 .d6-col3 {

/*margin-top:15px;*/	





}

.map-box3 .d6-col3 .box3 {

	height: 35px;

}

/**/





.map-box3 .d7-col3 {

	margin: 20px 0 0 0;

}

.map-box3 .d7-col3 .box1, .d7-col3 .box2 {

	height: 35px;

}

.map-box3 .d7-col3 .box2 {

	width: 20%;

}

.map-box3 .d7-col3 .box1 {

	width: 80%;

}

/**/





.map-box3 .d8-col3 {

	margin: 20px 0 15px 0;

}

.map-box3 .d8-col3 .box1 {

	width: 70%;

	height: 45px;

}

.map-box3 .d8-col3 .box2 {

	width: 30%;

	height: 45px;

}

/**/





.map-box3 .d9-col3 {

	margin: 0PX;

}

.map-box3 .d9-col3 .box1 {

	width: 50%;

	height: 18px;

}

.map-box3 .d9-col3 .box2 {

	width: 50%;

	height: 18px;

}

/***/





.col-3-map-right .box1 {

}

/**/





.diagram-1 .top-1, .top-2, .d-1, .d-2, .d-3 {

	display: table;

}

/*.diagram-1 .top-1 p, .top-2 p, .d-1 p, .d-2 p {





	vertical-align:middle;





	display:table-cell;	





}*/





/**/











.right-first-box {

	float: left;

	width: 65%;

}

.right-second-box {

    float: left;

    width: 30%;

    padding-left: 10px;

}

.events-section .event h3 {

	text-align: left;

}

.events-section .event h3 span {

	font-size: 13px;

	color: #f00;

	text-shadow: none;

}

.event {

	

	padding: 0 0 0px 0;

	text-align: center;

}



.model_ak {

    width: 50%;

    height: auto;

    margin: 0 auto;

    background: #ff9800;

	position: relative;

	    overflow: hidden;

}



.model_ak i {

    position: absolute;

    top: 0px;

    right: 0;

    padding: 10px;

    background: #fff !important;

    font-size: 30px;

    color: #000 !important;

    z-index: 9999;

	opacity: .7;

}



.model_ak i:hover{opacity: .8 !important;}



.shop_detail {

    padding: 20px 20px 0px 20px;

    text-align: left;

    width: 100%;

}



.shop_detail h4 {

    font-size: 20px;

    padding: 10px 0px;

	text-transform:uppercase;

}



.shop_detail h3 {

    font-size: 22px;

	padding-bottom:0px;

	color: #1bbc5c;

	text-transform:uppercase;

 

}



.shop_detail p {

    font-size: 12px;

    font-weight: 500;

	text-transform:uppercase;

	

}



.ak_table tr th {

    text-transform: uppercase;

	color: #1bbc5c;

	font-weight: 600;

}



/*AK 3d Design*/



.no_shadow{box-shadow:none !important;}



.map_container{

	padding-right: 15px;

    padding-left: 15px;

    margin-right: auto;

    margin-left: auto;

	position:relative; display:block;

	width:98%;

	margin:0 auto;

	

}



.diagram-1 .box1, .diagram-1 .box2, .diagram-1 .box-4-top .top-1, .diagram-1 .box-4-top .top-2, .diagram-1 .box-4-bottom .top-2, .diagram-1 .box-5-bottom .top-2, .map-box2 .col2-row6 .d2-col2 .d-1, .map-box2 .col2-row6 .d2-col2 .d-3, .diagram-1 .row-box4 .box5 .box-4-top .top-1, .map-box2 .top-2, .diagram-1 .box-5-bottom .top-1, .map-box2 .row-box4 .m-box2 .d-1, .map-box2 .row-box4 .m-box2 .d-3, .map-box2 .col2-row6 .d-col2 .d-1, .map-box2 .col2-row5 .m-box2 .d-3, .map-box2 .row-box3 .m-box1 .d-3, .map-box2 .m-box1 .d-2, .map-box2 .m-box1 .d-1, .map-box2 .m-box1 .d-3, .map-box2 .m-box2 .d-1, .map-box2 .m-box2 .d-3, .diagram-1 .box-4-bottom .top-1, .diagram-1 .box3 ,.diagram-1 .box-5-top .top-1, .diagram-1 .box-5-top .top-2, .map-box2 .top-1, .ak_3d_4 .d-1, .ak_3d_4 .d-2, .ak_3d_5, .ak_3d_6, .ak_3d_7, .ak_3d_10 div.d-1, .ak_3d_10 div.d-2, .map-box3 .d4-col3 .top-1, .ak_3d_17, .ak_3d_18, .ak_3d_21 .top-1, .ak_3d_21 .top-2, .ak_3d_22 div.box3 .d-2 .top-2, .ak_3d_22 div.box3 .d-2 .top-1, .ak_3d_27 .d-1, .ak_3d_27 .d-2, .ak_3d_27 .d-3, .diagram-1 .row-box5 .box3 .d-4 {

   

    border: 0px solid #000;  

    box-shadow: 0 1px 0 rgb(204,204,204), 0 2px 0 rgb(201,201,201), 0 3px 0 rgb(187,187,187), 0 4px 0 rgb(185,185,185), 0 5px 0 rgb(170,170,170), 0 6px 1px rgba(0,0,0,0.0980392), 0 0 5px rgba(0,0,0,0.0980392), 0 1px 3px rgba(0,0,0,0.298039), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.247059), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.14902);

	position:relative;

}



.diagram-1 .box4{border: 0px solid #000;}





.map-box2 .row-1 .box1, .map-box2 .row-1 .box2, .map-box2 .row-1 .box3 {

    margin:2%;

    width: 27%;

}



.map-box3 .col3-row1 .box1 {

    margin: 10px;

}



.map-box3 .col3-row1 .box2 {

    width: 42%;

    margin: 4%;

}



.diagram-1 .box-4-top .top-1 {

    margin: 2%;

    float: left;

    width: 46%;

}



.diagram-1 .box-4-top .top-2 {

    width: 42%;

    margin: 4%;

}



.diagram-1 .box-4-bottom .top-1, .diagram-1 .box-4-bottom .top-2 {

    margin: 10% 4%;

    float: left;

    width: 42%;

    border-right: 0px solid #000;

}



.diagram-1 .box-4-top{ border-bottom: 0px solid #000;}



.diagram-1 .box-4-top .top-1 {

    margin: 4% 4%;

    width: 42%;

}

.diagram-1 .row-2 {

    margin: 30px 0;

}



.diagram-1 .box-5-top .top-1, .diagram-1 .box-5-top .top-2 {

    float: left;

    width: 42%;

	margin:4%;

    border-top: 0px solid #000;

    border-right: 0px solid #000;

    height: 100%;

}



.diagram-1 .box-5-top {

    border-bottom: 0px solid #000;

  

}



.diagram-1 .box-5-bottom .top-1, .diagram-1 .box-5-bottom .top-2{

	

	 float: left;

    width: 42%;

	margin:10% 4%;

	

}



.diagram-1 .box5{border: 0px solid #000;}

.map-box2 .m-box2 .d-3{ width:30%;}



.map-box2 .m-box2 .d-2 {

    float: left;

    border: 0px solid #000;

    width: 32%;

	margin:0% 4%;

    height: 40px;

}







.map-box2 .top-1 {

    width: 100%;

    height: 10px;

    margin-top: 10px;

}



.ak_3d_1 {

        min-height: 23px;

}



.ak_3d_2 {

      min-height: 23px;

}



.map-box3 .d1-col3 {

    margin: 12px 0 0px 0;

}



.map-box3 .col3-row1 .box3 {

   

    margin: 40px 0 0 0;

}



.ak_3d_3 {

    margin-bottom: 5px !important;

    margin-top: 0px !important;

	    width: 60% !important;

    margin-left: 6.6% !important;

    height: 50px !important;

}



.door-1 {

    position: absolute;

    top: 11.5%;

    left: 2%;

}



.door-2 {

    position: absolute;

    top: 23%;

    left: 2%;

}



.ak_3d_4 .d-1 {

    height: 30px !important;

    margin-bottom: 10px;

	border-bottom: 0px solid #000 !important;

}

.ak_3d_4 .d-1{height: 30px !important;  margin-top: 5px !important;    margin-bottom: 15px !important;}



.ak_row {

    margin-top: 50px !important;

	   

}

.diagram-1 .row-box3 .box-4-bottom .top-1 {

    width: 42%;

}



.diagram-1 .row-box3 .box-4-bottom .top-2 {

    width: 42%;

}



.diagram-1 .row-box3 .box-5-top .top-2 {

    margin-top: 5px;

  

}



.ak_3d_5, .ak_3d_6, .ak_3d_7{border-top: 0px solid #000 !important;}



.ak_3d_6 {

    margin: 10px 0px;

	    padding: 30% 3px !important;

}



.ak_3d_7 {

   

	    padding: 30% 3px !important;

}



.map-box2 .row-box4 .m-box2 .d-3 {

    width: 56%;

    margin-left: 4%;

}



.map-box2 .m-box1 .d-2 {

   

    margin-right: 5%;

	margin-left: 5%;

}



.ak_3d_8{width:30% !important;}



.diagram-1 .ak_row2 {

    margin-top: 30px;

    margin-bottom: 30px;

}



.map-box2 .row-box4 {

    margin-top: 40px;

}



.map-box3 .col3-row1 .ak_3d_9 {

    margin-top: 35px;

	    margin-left: 10px;

}

.diagram-1 .row-box3 .d-2 {

   

    height: 44%; 

}



.door-3 {

    position: absolute;

    top: 38.6%;

    left: 2%;

}



.diagram-1 .row-box4 .d-1{    border-bottom: 0px solid #000;}



.ak_3d_10 div.d-1 {

    height: 58% !important;

    margin-bottom: 20px !important;

    padding: 10px !important;

    margin-top: 5px;

}



.ak_3d_10 div.d-2 {

    height: 58% !important;

    padding: 25px 0 !important;

}



.diagram-1 .row-box4 .box-4-bottom .top-1 {

   

    border-bottom: 0px solid #000;

}



.diagram-1 .row-box4 .box5 {

  

    border: 0px solid #000;

}

.diagram-1 .row-box4 .box5 .box-4-top .top-2 {

    width: 42%;

}

.diagram-1 .row-box4 .box5 .box-4-top .top-1 {

    width: 42%;

    float: left;

}



.ak_3d_11 {

    margin-bottom: 15px;

}



.ak_3d_12 {

    margin: 5% 4% !important;

}



.diagram-1 .row-box4 .box5 .box3 { border-right: 0px solid #000 !important;    width: 42%;     margin-left: 5%;     margin-top: 13%;     height: 110px !important;}



.ak_3d_13 {

    height: 100% !important;

}



.ak_3d_14 {

    width: 42% !important;

    margin-left: 5% !important;

    margin-top: 13% !important;

    height: 110px !important;

}



.map-box2 .col2-row5 {

    margin-top: 30px;

}



.map-box2 .col2-row6 {

    margin-top: 40px;

}



.map-box2 .col2-row5 .m-box2 .d-1 {

    width: 54%;

    

    margin-right: 4%;

}



.map-box2 .col2-row5 .m-box1 .d-1 {

    width: 48%;

   

    margin-right: 2%;

}



.map-box2 .col2-row5 .m-box1 .d-3 {

    width: 48%;

   

    margin-left: 2%;

}



.ak_3d_15 {

    margin-left: 10px !important;

}



.map-box3 .d3-col3 {

    margin: 25px 0 0 0;

}



.ak_3d_16 div {

    width: 30.9% !important;

    margin: 4% 0% !important;

}





.ak_3d_16 div:nth-child(2){ margin-left:3% !important; margin-right:4% !important;}



.ak_3d_17 {

    border: 0px !important;

    margin-top: 13px !important;

    width: 65px !important;

    float: left;

    padding: 14px 7px 20px 20px;

}



.map-box2 .col2-row6 .m-box2 .d-1 {

    width: 50%;

  

    margin-right: 5%;

}

.ak_3d_19 div.d-1 {

    width: 48% !important;

    margin-right: 2%;

}



.ak_3d_19 div.d-3 {

    width: 48% !important;

    margin-left: 2%;

}



.ak_3d_20 div.box1{width:19% !important; margin: 5px 0px 0px !important;}



.ak_3d_20 div.box2 {  width: 22% !important;    margin: 5px 10px 0px !important;}



.ak_3d_20 div.box3 {

    width: 79% !important;

    margin: 10px 0px 0px !important;

}

.ak_3d_21 div.top-2 {

    margin-bottom: 15px;

    border: 0px !important;

}



.map-box2 .col2-row6 .d-col2 {    margin-top: 40px;}



.ak_3d_22 div.box3 {

    margin-top: 0px !important;

}



  



.map-box3 .ak_3d_22 .box1 {    width: 17%;}

.ak_3d_22 div.box3 .d-2 .top-2{margin-bottom:15px !important;}



.ak_3d_22 div.box3 .ak_3d_23{ width:90% !important; margin-right:5% !important;     margin-top: 9px !important;}



.map-box2 .col2-row6 .d2-col2 .d-3 {

    width: 70%;

   

    margin-left: 5%;

}



.ak_3d_24 {

    margin-top: 15px !important;

}



.ak_3d_25 {

    margin-top: 15px !important;

}





.map-box2 .col2-row6 .ak_3d_25 .d-1{ width:46% !important; margin-right:4%;}

.map-box2 .col2-row6 .ak_3d_25 .d-3{width:46% !important;}



.ak_3d_26{margin-top:18px !important;}





.ak_3d_27 .d-1{ border:0px !important;     height: 20px !important; margin-top: 10px;}

.ak_3d_27 .d-1 p{ border:0px !important;     line-height: 5px !important;}

.ak_3d_27 .d-2{ border:0px !important;     margin: 0px 3%;}

.ak_3d_27 .d-3{ border:0px !important;     width: 33% !important;}

.diagram-1 .row-box5 .box3 .d-4 {

    border: 0px solid #000;

    margin-top: 15px;

 

    width: 94.5%;

  

}

.door-4 {

    top: 65.8%;

    left: 1.5%;

}

.ak_3d_28 {

    width: 92%;

    margin-top: 10px;

}



.ak_3d_30 .d-1{ width:45% !important; margin-right:5%; margin-left:5% !important;}

.ak_3d_30 .d-3{ width:45% !important;}



.ak_3d_32 div.box2 {

    width: 30% !important;

    margin-left: 0% !important;

    margin-right: 0% !important;

}

.ak_3d_32 div.box1 {

    width: 65% !important;

    margin-left: 0% !important;

}



.map-box2 .col2-row6 .d4-col2 {

    margin: 30px 0 0 0px;

}



.ak_3d_31 {

    margin-top: 35px !important;

}



.ak_3d_33 {

    margin-top: 35px !important;

}



/*End AK*/



/*AK NEW*/



.box1{position:relative;}



.box1 img{ opacity: 0; transition: all 0.3s ease-in-out; position: absolute;

    left: 35%;

    top: -42px;}



.box1 i {

    font-size: 54px;

    position: absolute;

    left: 40%;

    top: -42px;

    color: #9c0;

    opacity: 0;

	transition: all 0.3s ease-in-out;

}



.box1:hover img{opacity: 1; transition: all 0.3s ease-in-out;}



.box1:hover i{opacity: 1; transition: all 0.3s ease-in-out;}



.modal-backdrop{ width:15%; display:none;}



.modal {

   

    width: 20% !important;

}



.ak_table tbody tr td:nth-child(2) {

    font-size: 16px;

    font-weight: 500;

	    color: #000;

}



.ak_table tbody tr td:first-child {

    font-size: 18px;

    font-weight: 500;

    color: #fff;

    text-transform: uppercase;

}



.ak_table tbody tr td{

	

	    border: 1px solid #fff;

		    padding: 20px 8px;

}



.ak_table tbody tr:hover{ background:transparent;}





.model_ak {

    height: 100%;

    width: 100%;

    background: #ff9800eb;

    position: relative;

    overflow: hidden;

	float:left;

}



.modal-backdrop {    position: fixed; top: 14%;}



.modal {

    top: auto !important;

    padding-right: 0px !important;

}



ul.menu li:last-child>a {

    /*padding-right: 0px;*/

}



.ak_table tbody tr td:last-child a {

    font-size: 16px;

    font-weight: 600;

}



.ak_table tbody tr td a{ color:#000;}

.ak_table tbody tr td a:hover{ color:#fff;}

.ak_table tbody tr td:nth-child(2) {

    font-size: 16px;

    font-weight: 600;

}





/*h2.shop_title span{ color:#000 !important; text-transform:uppercase; font-size:20px !important;}

.widget-title span:before

.widget-title span:after{}*/





/*END AK NEW*/



/*.ak_test {

    position: relative;

  

    display: block;

    height: 100%;

   

}*/



/*.ak_test .flat_tabs:first-child {

    top: 0%;

    left: 0px;

    position: absolute;

    height: 100%;

    padding-top: 0px;

}*/



.ak_test .flat_tabs:first-child a {

    top: 23%;

    position: absolute;

    left: 0%;

    right: 0%;

}



.flat_tabs a {

    text-decoration: none;

    font-size: 14px;

    color: #138e45;

    text-shadow: 0px 3px 10px #138e4559;

}







.map-diagram P{color:#138e45;     line-height: 17px;}







p.flat_tabs_hover {

    opacity: 0;

    display: none !important;

    position: absolute;

    top: 0px;

    width: 100%;

    border: 1px solid #99cc00;

    padding: 5px 5px;

    font-size: 15px;

    min-width: 200px;

    left: 0%;

	    z-index: 9999;

    color: #000;

    background: #9c0;

    font-weight: 500;

    transition: all 0.15s ease-in-out;

    box-shadow: 1px 14px 16px -12px black;

}



.ak_test:hover p.flat_tabs_hover{

    opacity:1;

	display:block !important;

   

    top: -40px;

   

	transition: all 0.15s ease-in-out;

}







.ak_test p:first-child {

    display: inline !important;

    padding-top: 5px;

}



p.flat_tabs_hover a{ color:#000;}





/*New 21 april*/



.ak_size55 {

    height: 55px !important;

}



.ak_3d_34, .ak_3d_35, .ak_3d_36, .ak_3d_37 , .ak_3d_38 , .ak_3d_39 , .ak_3d_40 {

    height: 60px !important;

}



.ak_3d_20 .box1, .ak_3d_20 .box2 {

    height: 60px !important;

}



.ak_margin_1 {

    margin-top: 35px !important;

	    margin-bottom: 25px !important;

}



.ak_3d_20 .box1{

    height: 93px !important;

}



.ak_3d_20 div.box2 {

    height: 25px !important;

    width: 36% !important;

    margin: 5px 5px 0px !important;

}



.ak_3d_22 .box1, .ak_3d_22 .box3 {

    height: 60px !important;

}

.ak_3d_22 div.box3 .ak_3d_23 .top-1, .ak_3d_22 div.box3 .ak_3d_23 .top-2 {

    height: 23px;

}

.ak_3d_27 {

    margin-top: 72px !important;

}



.box4.ak_margin_2 {

    margin-top: 77px !important;

}



.box1.ak_3d_41 {

    max-width: 70px !important;

    right: -19px !important;

    min-height: 22px;

}



.ak_3d_31, .ak_3d_33 {

    margin-top: 35px !important;

	    margin-bottom: 12px !important;

}



.ak_3d_22 {

    margin: 5px 0px 10px!important;

}



.ak_3d_42{ margin-left:0px !important;}



.ak_3d_42 .box1, .ak_3d_42 .box2, .ak_3d_42 .box3{    max-width: 21% !important; min-height: 22px;} 



.ak_3d_42 .box1 .ak_test .flat_tabs:first-child a, .ak_3d_42 .box2 .ak_test .flat_tabs:first-child a, .ak_3d_42 .box3 .ak_test .flat_tabs:first-child a{top: 6%;}



.ak_3d_41 .ak_test .flat_tabs:first-child a{top: 6%;}







.ak_3d_43 div.box1 {

    width: 65% !important;

    margin-left: 0% !important;

}



.ak_3d_43 div.box2 {

    width: 30% !important;

    margin-left: 0% !important;

    margin-right: 0% !important;

}



.ak_3d_44 .box1, .ak_3d_44 .box2 {

    width: 46% !important;

    float: left;

    margin: 10px 2% !important;

    min-height: 22px;

}



.ak_3d_45 {

    margin-top: 10px;

}



.ak_3d_46 {

    margin-top: 8px;

}



.ak_3d_48 div.box1 {

	

	width:50px !important; 

	height:30px !important;

    

}

.ak_3d_48 div.box2 {

	

	width: 62px !important;

    height: 36px !important;

    

}













/*---*/



/*Final*/



.map-section {

    position: relative;

    margin: 0 0px 0px 0px;

    overflow: hidden;

}



.mall_page {

    padding-bottom: 50px;

}



/*.map_design {

  

    padding: 50px;

   

   

}*/



.slauson_part1 p {

    font-size: 20px;

    font-weight: 700;

}

.slauson_part1 {

    border-top: 2px solid #000;

    border-bottom: 1px solid #000;

    padding: 5px 0px;

    width: 95%;

    position: relative;

    overflow: hidden;

    margin-left: 2%;

    margin-bottom: 10px;

}

p.west {

    transform: rotate(-90deg);

    position: absolute;

    left: -37px;

    top: 40%;

    width: 168px;

    font-size: 20px;

    font-weight: 700;

}



.slauson_part2 {

    float: left;

    overflow: hidden;

    padding: 15px;

    min-height: 975px;

    position: relative;

    border-left: 1px solid #000;

    border-right: 2px solid #000;

}





div#content-1:before {

    content: '';

    width: 0;

    height: 975px;

    position: absolute;

    border-left: 1px solid #000;

    left: 30px;

}



.slauson_ave:before {

    content: '';

    width: 88.3%;

    position: absolute;

    border-top: 1px solid #000;

    left: 5.4%;

    top: 15px;

}



.slauson_part3 {

    float: right;

    overflow: hidden;

    padding: 15px;

    min-height: 925px;

    position: relative;

    border-left: 1px solid #000;

    border-right: 2px solid #000;

}



p.east {

    transform: rotate(90deg);

    position: absolute;

    right: 12px;

    top: 40%;

    width: 168px;

    font-size: 20px;

    font-weight: 700;

}



.diagram-1{padding-top:0px;}

.map_part3 {

    width: 21% !important;

}



.map_part4 {

    width: 18% !important;

  

}



.ak_3d_21 div.top-2 {

    width: 55% !important;

    float: left;

    margin-left: 5px;

	    margin-right: 10px;

}



.ak_3d_21 div.top-2 p {

    font-size: 13px;

    padding: 11px 0px;

}



.ak_3d_21 div.top-1{width: 37% !important;}



.ak_3d_21 div.top-1 p {

    font-size: 13px;

    padding: 11px 0px;

    background: #ffc000;

    color: #000;

}



.ak_3d_21 {

    margin-left: 4px;

}

.map-box3 .col3-row1 .ak1 {

    margin-left: 10px !important;

    background: red;

    width: 20% !important;

	    margin-right: 0px !important;

}



.map-box3 .col3-row1 .ak1 p {

    color: #fff;

}

.map-box3 .col3-row1 .ak2 {

    margin-right: 0px !important;

    width: 56% !important;

    background: #00b0f0;

    margin-left: 0px !important;

}



.map-box3 .col3-row1 .ak2 p {

    color: #fff;

}

.ak_3d_27 div.d-4 {

    background: #fcd5b4;

}



.ak_3d_27 div.d-4 p {

    font-size: 22px;

    padding-left: 25px;

    color: #000;

    padding-top: 41px;

    font-weight: 700;

}





.parking_lot {

    overflow: hidden;

    position: absolute;

    display: block;

    width: 95%;

    border: 3px solid #000;

    background: #fff;

    bottom: 0px;

}

.stor_parking {

    width: 22%;

    float: left;

   

    background: #fff;

}



.customer_parking_lot {

    width: 78%;

    float: right;

	    border-left: 3px solid #000;

  

}



.stor_parking p {

    text-align: center;

    float: none;

    color: #000;

    font-size: 18px;

    padding-left: 20px;

    padding-top: 14px;

}



.customer_parking_lot h4 {

    font-size: 24px;

    font-weight: 700;

    padding: 10px 20px;

    background: #9c0;

    color: #000;

}



/*-------------*/

.parking_lot_top {

    overflow: hidden;

    position: relative;

    display: block;

    width: 89%;

    border: 0px solid #9c0;

    background: transparent;

    bottom: 0px;

    padding-top: 34px;

    margin-left: 1.5%;

}

.stor_parking_top {

    width: 24%;

    float: left;

    background: #fabf8f;

    padding: 5.5px;

}



.customer_parking_lot_top {

    width: 76%;

    float: right;



  

}



.stor_parking_top p {

    text-align: center;

    float: none;

    color: #000;

    font-size: 18px;

    padding-left: 20px;

    padding-top: 25px;

}



.customer_parking_lot_top h4 {

    font-size: 22px;

    font-weight: 700;

    padding: 6px 20px;

    background: #99cc00;

    color: #000;

}



/*-------------*/



.ground_1 {

    width: 5% !important;

    background: #8db4e2;

    height: 237px !important;

    margin-left: 0px !important;

    position: absolute !important;

    top: 34px;

    right: 5%;

}







.ak_3d_45 .box1 {

    position: absolute !important;

    width: 3%;

    height: 16px;

    background: #8db4e2;

    margin-left: 13px;

    box-shadow: none;

}



.ground_2 {

    background: #8db4e2;

    height: 55px !important;

    position: absolute;

    top: -55px;

}



.ak_new2 {

   

    margin-top: 0px;

    padding-top: 20px;

}



.ak_new2 .box1 {

    height: 41px !important;

    margin-top: 35% !important;

    width: 31% !important;

}



.ak_new3 .box3{

	

	

}



.ak_3d_18{

	

 width:27px; 

 height:49px; 

 background:#8db4e2; 

 float:right;

 

}



.parking_lort p {

    font-size: 20px;

}



.parking_lort {

    padding-top: 50%;

}



.ak_new3 {

    margin-top: 10px;

}





.model_ak button {

    position: absolute;

    top: 0px;

    right: 0;

    padding: 10px;

    background: #fff !important;

    font-size: 30px;

    color: #000 !important;

    z-index: 9999;

    opacity: .7;

}



.btn-cta:hover {

    cursor: pointer;

}



/*End final*/



@media (min-width: 320px) and (max-width: 767px){



	

.model_ak {  width: 100%;     background: #ff9800;}
.ak_table tbody tr td:first-child {    font-size: 13px;}
.ak_table tbody tr td:nth-child(2) {    font-size: 13px;   font-weight: 500;}
.ak_table tbody tr td:last-child a {    font-size: 14px;    font-weight: 600;}
.ak_table tbody tr td { padding: 5px 8px;}
.shop_detail {    padding: 0px 0px 0px 0px;     margin-bottom: 15px;}




}



@media (min-width: 1300px) and (max-width: 1600px){

	

.ak_table tbody tr td {  padding: 10px 8px;}

.modal {    width: 25% !important;}

.map_container{width:100%;}



.ak_3d_20 div.box3 {    width: 49% !important;}

.map-diagram P {    font-size: 12px;}

.ak_3d_16 div {    width: 30.7% !important;}

.ak_3d_18{width:17px !important;}

.map-box3 .ak_3d_22 .box1 {

    width: 17.6%;

}

.ak_3d_32 div.box2 {    width: 29% !important;}

.ak_3d_43 div.box2 {    width: 29% !important;}

.ak_3d_45 .box1 {    margin-left: 14px !important;}

.ak_3d_47 {    margin-top: 20px !important;}

.door-9 {   bottom: 3.5%;}

.door-10 {    bottom: 3.7%;}





.parking {

   

    width: 10%;

    

}



.map-diagram {

    

    width: 90%;

   

}



.ak_3d_21 div.top-2 p {

    font-size: 11px;

    

}



.ak_3d_21 div.top-1 p {

    font-size: 11px;

   

}



.ak_3d_20 div.box3 {

    width: 80% !important;

}



.ak_3d_21 div.top-2 {

    width: 52% !important;

   

}



.ak_3d_21 div.top-2 p {

    font-size: 13px;

    padding: 3px 0px;

}



.ak_3d_47 div.box1 {

    width: 41px !important;

}

.ak_3d_47 div.box2 {

    width: 41px !important;

}

.ak_3d_48 div.box2 {

    width: 32px !important;

    height: 34px !important;

}



.ak_3d_47 {

    margin-top: 5px !important;

}



.right-first-box div.box3:first-child {

    margin-top: -5px !important;

}

.map_design {

    padding: 50px 10px 50px 40px;

}

p.west {

    

    left: -41px;

    



}

.ak_3d_17 {

   

    width: 64px !important;

   

}

p.east {

   

    right: -30px;

    

}



.slauson_part1 {

   

    width: 93%;

   

    margin-left: 3%;

   

}

   

 .parking_lot {

   

   width: 94.4%;

  }

  

  .box1.ak_3d_41 {

  

    right: -27px !important;



}



}