.clearout{height:20px;clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3{display:none;}
.nbs-flexisel-container{position:relative;max-width:100%;}
.nbs-flexisel-ul{position:relative;width:99999px;margin:0px;padding:0px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner{position:relative;overflow:hidden;float:left;width:100%;background:#fff;}
.nbs-flexisel-item{float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;border-right:1px solid #ddd;}
.nbs-flexisel-item img{max-width:100%;cursor:pointer;position:relative;margin:0 auto;width:auto;}
.nbs-flexisel-item:hover img{opacity:1;}
.nbs-flexisel-item:hover img{transition:all 0.4s ease-in-out;-webkit-transform:scale(1.1);transform:scale(1.02);}
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right{padding:5px 10px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;position:absolute;cursor:pointer;z-index:4;top:40%;background:rgba(0,0,0,0.5);color:#fff;}
.nbs-flexisel-nav-left{left:10px;display:none;}
.nbs-flexisel-nav-left:before{content:"<"}
.nbs-flexisel-nav-left.disabled{opacity:0.4;}
.nbs-flexisel-nav-right{right:5px;display:none;}
.nbs-flexisel-nav-right:before{content:">"}
.nbs-flexisel-nav-right.disabled{opacity:0.4;}
#flexiselDemo2 li{height:auto;}
#flexiselDemo2 li img{padding-top:0px;}
#flexiselDemo2 li{border-right:0px;}