
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}



.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-3px) scale(1.02);
    transition: all 0.5s ease-in-out;
}
.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 25px 10px;
    
}

.caption h3 {
    padding-bottom: 10px;
    text-align: left;
}

.tz-gallery .caption h3 {
    font-size: 15px;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.caption {
    font-size: 22px;
    color: #000;
    margin: 1em 0;
    border: 2px solid #e1e1e1;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    border-top: none;
    padding-top: 20px;
    background: linear-gradient(to right, #1bbc5c 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;
}

.thumbnail:hover .caption{
    border-color: #1bbc5c;
    color: #fff;
    background-position: left bottom;
}

.tz-gallery .caption h3 span {
    font-weight: 600;
    padding-right: 10px;
    color: #1bbc5c;
    font-size: 17px;
}

.thumbnail:hover .caption h3 span {
    color: #000;
    transition: all 0.3s ease-in-out;
}

#baguetteBox-overlay .full-image img{
	max-height: 94%;
    max-width: 94%;
}