    /*
    Flaticon icon font: Flaticon
    Creation date: 06/07/2017 11:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-femenine-lingerie:before { content: "\f100"; }
.flaticon-trail-running-shoe:before { content: "\f101"; }
.flaticon-high-heel:before { content: "\f102"; }
.flaticon-technology:before { content: "\f103"; }
.flaticon-baseball-cap:before { content: "\f104"; }
.flaticon-massage-spa-body-treatment:before { content: "\f105"; }
.flaticon-mobile-phone-design:before { content: "\f106"; }
.flaticon-black-jacket:before { content: "\f107"; }
.flaticon-rocking-horse:before { content: "\f108"; }
.flaticon-nail-polish:before { content: "\f109"; }
.flaticon-jacket-with-two-buttons:before { content: "\f10a"; }
.flaticon-black-female-dress:before { content: "\f10b"; }
.flaticon-diamond-engagement-ring-silhouette:before { content: "\f10c"; }
.flaticon-dinner:before { content: "\f10d"; }
.flaticon-dress:before { content: "\f10e"; }
.flaticon-beauty-products:before { content: "\f10f"; }
.flaticon-handbag:before { content: "\f110"; }
    
    $font-Flaticon-femenine-lingerie: "\f100";
    $font-Flaticon-trail-running-shoe: "\f101";
    $font-Flaticon-high-heel: "\f102";
    $font-Flaticon-technology: "\f103";
    $font-Flaticon-baseball-cap: "\f104";
    $font-Flaticon-massage-spa-body-treatment: "\f105";
    $font-Flaticon-mobile-phone-design: "\f106";
    $font-Flaticon-black-jacket: "\f107";
    $font-Flaticon-rocking-horse: "\f108";
    $font-Flaticon-nail-polish: "\f109";
    $font-Flaticon-jacket-with-two-buttons: "\f10a";
    $font-Flaticon-black-female-dress: "\f10b";
    $font-Flaticon-diamond-engagement-ring-silhouette: "\f10c";
    $font-Flaticon-dinner: "\f10d";
    $font-Flaticon-dress: "\f10e";
    $font-Flaticon-beauty-products: "\f10f";
    $font-Flaticon-handbag: "\f110";