	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/07/2017 11:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 50px;
font-style: normal;

}

.flaticon-femenine-lingerie:before { content: "\f100"; }
.flaticon-trail-running-shoe:before { content: "\f101"; }
.flaticon-high-heel:before { content: "\f102"; }
.flaticon-technology:before { content: "\f103"; }
.flaticon-baseball-cap:before { content: "\f104"; }
.flaticon-massage-spa-body-treatment:before { content: "\f105"; }
.flaticon-mobile-phone-design:before { content: "\f106"; }
.flaticon-black-jacket:before { content: "\f107"; }
.flaticon-rocking-horse:before { content: "\f108"; }
.flaticon-nail-polish:before { content: "\f109"; }
.flaticon-jacket-with-two-buttons:before { content: "\f10a"; }
.flaticon-black-female-dress:before { content: "\f10b"; }
.flaticon-diamond-engagement-ring-silhouette:before { content: "\f10c"; }
.flaticon-dinner:before { content: "\f10d"; }
.flaticon-dress:before { content: "\f10e"; }
.flaticon-beauty-products:before { content: "\f10f"; }
.flaticon-handbag:before { content: "\f110"; }